openapi: "3.0.4"
info:
  title: Klavers Jassen
  description: Klavers Jassen
  version: "@git.commit.id.abbrev@"
servers:
  - url: 'https://www.klaversjassen.nl/api/v1'
    description: Klavers Jassen

paths:
  /whoami:
    post:
      tags:
        - whoami
      operationId: whoami
      responses:
        "200":
          $ref: "#/components/responses/WhoAmIResponse"
  /games/{gameId}/playCard:
    post:
      operationId: playCard
      parameters:
        - $ref: "#/components/parameters/gameId"
      requestBody:
        $ref: "#/components/requestBodies/playCard"
      responses:
        "200":
          $ref: "#/components/responses/GameResponse"
        "422":
          description: some application error
        "404":
          description: not found
  /games:
    get:
      operationId: getGames
      responses:
        "200":
          $ref: "#/components/responses/GamesResponse"
    post:
      operationId: createGame
      requestBody:
        description: A new game
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createGame"
      responses:
        "200":
          $ref: "#/components/responses/GameResponse"
        "404":
          description: not found
  /games/{gameId}:
    get:
      operationId: getGame
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          $ref: "#/components/responses/GameResponse"
        "404":
          description: not found
    delete:
      operationId: deleteGame
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
  /users/multiple/{userIds}:
    get:
      operationId: getUsers
      parameters:
        - $ref: "#/components/parameters/multipleUserId"
      responses:
        "200":
          $ref: "#/components/responses/UsersResponse"
  /users/ping:
    post:
      operationId: ping
      requestBody:
        $ref: "#/components/requestBodies/ping"
      responses:
        "200":
          description: ok
  /users/pong:
    post:
      operationId: pong
      requestBody:
        $ref: "#/components/requestBodies/pong"
      responses:
        "200":
          description: ok
  /users/message:
    post:
      operationId: sendMessage
      requestBody:
        $ref: "#/components/requestBodies/postMessage"
      responses:
        "200":
          description: ok
  /users/updatePreferences:
    post:
      operationId: updatePreferences
      requestBody:
        $ref: "#/components/requestBodies/updatePreferences"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
  /users/single/{userId}:
    get:
      operationId: getUser
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "404":
          description: not found
  /users/invites:
    get:
      operationId: getInvites
      responses:
        "200":
          $ref: "#/components/responses/InvitesResponse"
    post:
      operationId: createInvite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createInvite"
      responses:
        "200":
          $ref: "#/components/responses/CreateInvitesResponse"
        "404":
          description: not found
  /users/invites/{userId}:
    delete:
      operationId: removeInvite
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: ok
        "404":
          description: not found
    post:
      operationId: acceptInvite
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: ok
        "404":
          description: not found
components:
  requestBodies:
    playCard:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/playCard"
    ping:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ping"
    pong:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/pong"
    updatePreferences:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/updatePreferences"
    postMessage:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/postMessage"
  schemas:
    whoAmIResponse:
      type: object
      properties:
        jwt:
          type: string
          format: password
        user:
          $ref: './user.yaml/#/components/schemas/User'
      required:
        - jwt
        - user
    createInviteResponse:
      type: object
      properties:
        count:
          type: number
      required:
        - invitees
    invitesResponse:
      type: object
      properties:
        incoming:
          description: unaccepted incoming
          type: array
          items:
            $ref: "./user.yaml#/components/schemas/User"
        outgoing:
          description: unaccepted outgoing
          type: array
          items:
            $ref: "./user.yaml#/components/schemas/User"
        friends:
          description: accepted, friends
          type: array
          items:
            $ref: "./user.yaml#/components/schemas/User"
    ping:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
      required:
        - uuid
    pong:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
      required:
        - uuid
    playCard:
      type: object
      properties:
        card:
          $ref: "./game.yaml#/components/schemas/Card"
      required:
        - card
    createInvite:
      type: object
      properties:
        searchString:
          type: string
          minLength: 5
          maxLength: 255
      required:
        - searchString
    postMessage:
      type: object
      properties:
        message:
          type: string
      required:
        - message
    updatePreferences:
      type: object
      properties:
        displayName:
          type: string
      required:
        - displayName
    createGame:
      type: object
      properties:
        players:
          type: array
          uniqueItems: true
          minItems: 4
          maxItems: 4
          items:
            type: string
      required:
        - players
  parameters:
    gameId:
      name: gameId
      in: path
      schema:
        type: string
      required: true
    userId:
      name: userId
      in: path
      schema:
        type: string
      required: true
    multipleUserId:
      name: userIds
      in: path
      schema:
        type: array
        items:
          type: string
      required: true
  securitySchemes:
    openId:
      type: openIdConnect
      scheme: bearer
      bearerFormat: JWT
      openIdConnectUrl: https://accounts.google.com/.well-known/openid-configuration
  responses:
#    uuid:
#      description: a game
#      content:
#        application/json:
#          schema:
#            type: string
#            format: uuid
    GameResponse:
      description: a game
      content:
        application/json:
          schema:
            $ref: "./game.yaml#/components/schemas/Game"
    UserResponse:
      description: a user
      content:
        application/json:
          schema:
            $ref: "./user.yaml#/components/schemas/User"
    GamesResponse:
      description: all games
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "./game.yaml#/components/schemas/Game"
    UsersResponse:
      description: users
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "./user.yaml#/components/schemas/User"
    WhoAmIResponse:
      description: login response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/whoAmIResponse'
    CreateInvitesResponse:
      description: response for create invites
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createInviteResponse'
    InvitesResponse:
      description: incoming invites response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/invitesResponse'
security:
  - bearerAuth:
      - openid
      - profile
      - email
