openapi: "3.0.4"
info:
  title: Klavers Jassen
  description: Klavers Jassen
  version: "@git.commit.id.abbrev@"
servers:
  - url: 'https://api.klaversjassen.nl/api/v1'
    description: Klavers Jassen

paths:
  /boom:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      tags:
        - boom
      operationId: getBooms
      responses:
        "200":
          description: get all booms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Boom"
    post:
      tags:
        - boom
      operationId: createBoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBoom"
      responses:
        "200":
          description: Boomresponse
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Boom"
  /boom/{boomId}/play:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      tags:
        - boom
      operationId: playBoom
      parameters:
        - $ref: "#/components/parameters/boomId"
      responses:
        "200":
          description: a boom
          content:
            application/json:
              schema:
                $ref: "./game.yaml#/components/schemas/Game"
  /boom/{boomId}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      tags:
        - boom
      operationId: getBoom
      parameters:
        - $ref: "#/components/parameters/boomId"
      responses:
        "200":
          description: a boom
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Boom"
        '404':
          description: Todo item not found.
    delete:
      tags:
        - boom
      operationId: deleteBoom
      parameters:
        - $ref: "#/components/parameters/boomId"
      responses:
        "200":
          description: ok
  /debug/sseconnections/get:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      tags:
        - debug
      operationId: getDebugSseConnections
      responses:
        "200":
          $ref: "#/components/responses/SseConnectionsResponse"
  /login:
    post:
      tags:
        - login
      operationId: login
      responses:
        "200":
          $ref: "#/components/responses/LoginResponse"
  /loadUser:
    post:
      tags:
        - login
      operationId: loadUser
      responses:
        "200":
          $ref: "#/components/responses/LoadUserResponse"
  /games/{gameId}/say:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: say
      parameters:
        - $ref: "#/components/parameters/gameId"
      requestBody:
        $ref: "#/components/requestBodies/sayRequest"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/claimRoem:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: claimRoem
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/claimVerzaken:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: claimVerzaken
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/openLastTrick:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: openLastTrick
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/closeLastTrick:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: closeLastTrick
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/playCard:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: playCard
      parameters:
        - $ref: "#/components/parameters/gameId"
      requestBody:
        $ref: "#/components/requestBodies/playCard"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/reload:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: reloadGame
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
  /games/{gameId}/kickAi:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: kickAi
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/message:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: gameMessage
      parameters:
        - $ref: "#/components/parameters/gameId"
      requestBody:
        $ref: "#/components/requestBodies/postMessage"
      responses:
        "200":
          description: ok
  /games:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getGames
      parameters:
        - name: boom
          in: query
          schema:
            type: boolean
        - name: finished
          in: query
          schema:
            type: boolean
      responses:
        "200":
          $ref: "#/components/responses/GamesResponse"
    post:
      operationId: createGame
      requestBody:
        description: A new game
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createGame"
      responses:
        "200":
          $ref: "#/components/responses/GameResponse"
        "404":
          description: not found
  /games/{gameId}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getGame
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          $ref: "#/components/responses/GameResponse"
        "404":
          description: not found
    delete:
      operationId: deleteGame
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
  /users/multiple/{userIds}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getUsers
      parameters:
        - $ref: "#/components/parameters/multipleUserId"
      responses:
        "200":
          $ref: "#/components/responses/UsersResponse"
  /users/ping:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: ping
      responses:
        "200":
          description: ok
  /users/pong:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: pong
      responses:
        "200":
          description: ok
  /users/updatePreferences:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: updatePreferences
      requestBody:
        $ref: "#/components/requestBodies/updatePreferences"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
  /users/single/{userId}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getUser
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "404":
          description: not found
  /users/invites:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getInvites
      responses:
        "200":
          $ref: "#/components/responses/InvitesResponse"
    post:
      operationId: createInvite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createInvite"
      responses:
        "200":
          $ref: "#/components/responses/CreateInvitesResponse"
        "404":
          description: not found
  /users/invites/{userId}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    delete:
      operationId: removeInvite
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: ok
        "404":
          description: not found
    post:
      operationId: acceptInvite
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: ok
        "404":
          description: not found
  /users/{userId}/reload:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: reloadUser
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: ok
  /reloadCache:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: reloadCache
      responses:
        "200":
          description: ok
  /calcAiCard:
    post:
      operationId: calcAiCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentTrick:
                  type: array
                  items:
                    $ref: "./game.yaml#/components/schemas/Card"
                trumpSuit:
                  $ref: "./game.yaml#/components/schemas/Suit"
                hand:
                  type: array
                  items:
                    $ref: "./game.yaml#/components/schemas/Card"
                gameVariant:
                  $ref: '#/components/schemas/GameVariant'
              required:
                - currentTrick
                - trumpSuit
                - hand
                - gameVariant
      responses:
        "200":
          description: Boomresponse
          content:
            application/json:
              schema:
                $ref: "./game.yaml#/components/schemas/Card"
components:
  requestBodies:
    sayRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/playerSay"
    playCard:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/playCard"
    updatePreferences:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/updatePreferences"
    postMessage:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/postMessage"
  schemas:
    Boom:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the test
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        creator:
          description: initial dealer
          type: string
        dealer:
          type: integer
          minimum: 0
          maximum: 3
        players:
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: string
        games:
          type: array
          maxItems: 32
          items:
            type: string
        gameVariant:
          $ref: '#/components/schemas/GameVariant'
      required:
        - id
        - created
        - updated
        - creator
        - dealer
        - players
        - games
        - gameVariant
    CreateBoom:
      type: object
      properties:
        players:
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: string
      required:
        - players
    UserMessage:
      type: object
      properties:
        userId:
          type: string
        message:
          type: string
        variant:
          enum:
            - error
            - warning
            - info
            - success
      required:
        - userId
        - message
        - variant
    sseConnections:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/SseConnection'
        timeStamp:
          type: string
          format: date-time
      required:
        - events
        - timeStamp
    loginResponse:
      type: object
      properties:
        jwt:
          type: string
          format: password
        user:
          $ref: './user.yaml/#/components/schemas/User'
      required:
        - jwt
        - user
    createInviteResponse:
      type: object
      properties:
        count:
          type: number
      required:
        - invitees
    invitesResponse:
      type: object
      properties:
        incoming:
          description: unaccepted incoming
          type: array
          items:
            type: string
        outgoing:
          description: unaccepted outgoing
          type: array
          items:
            type: string
        friends:
          description: accepted, friends
          type: array
          items:
            type: string
    playerSay:
      type: object
      properties:
        say:
          type: boolean
      required:
        - say
    playCard:
      type: object
      properties:
        card:
          $ref: "./game.yaml#/components/schemas/Card"
      required:
        - card
    createInvite:
      type: object
      properties:
        searchString:
          type: string
          minLength: 5
          maxLength: 255
      required:
        - searchString
    postMessage:
      type: object
      properties:
        message:
          type: string
      required:
        - message
    updatePreferences:
      type: object
      properties:
        displayName:
          type: string
        skipAnimation:
          type: boolean
        gameVariant:
          $ref: '#/components/schemas/GameVariant'
        screenOrientation:
          $ref: '#/components/schemas/ScreenOrientation'
        theme:
          $ref: '#/components/schemas/Theme'
      required:
        - displayName
        - skipAnimation
        - gameVariant
        - screenOrientation
        - theme
    createGame:
      type: object
      properties:
        players:
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: string
      required:
        - players
    OnlineListEvent:
      type: object
      properties:
        onlineList:
          type: array
          items:
            type: string
            uniqueItems: true
      required:
        - onlineList
    SseConnection:
      type: object
      properties:
        id:
          type: string
        created:
          type: string
          format: date-time
        userId:
          type: string
        appId:
          type: string
        pingReceived:
          type: string
          format: date-time
        pingReceivedCount:
          type: integer
        pongReceived:
          type: string
          format: date-time
        pongReceivedCount:
          type: integer
        pingSent:
          type: string
          format: date-time
        pingSentCount:
          type: integer
        pongSent:
          type: string
          format: date-time
        pongSentCount:
          type: integer
      required:
        - id
        - created
        - userId
        - appId
        - pingReceivedCount
        - pongReceivedCount
        - pingSentCount
        - pongSentCount
    NewGameEvent:
      type: object
      properties:
        gameId:
          type: string
        displayNameCreator:
          type: string
      required:
        - gameId
        - displayNameCreator
    NewFriendEvent:
      type: object
      properties:
        newFriendId:
          type: string
      required:
        - newFriendId
    MessageEvent:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/UserMessage'
      required:
        - message
    GameVariant:
      enum:
        - amsterdams
        - rotterdams
        - haags
    ScreenOrientation:
      enum:
        - auto
        - portrait
        - landscape
    Theme:
      enum:
        - auto
        - light
        - dark
  parameters:
    AppIdentifier:
      name: App-Identifier
      in: header
      schema:
        type: string
        format: uuid
      required: true
    gameId:
      name: gameId
      in: path
      schema:
        type: string
      required: true
    boomId:
      name: boomId
      in: path
      schema:
        type: string
      required: true
    userId:
      name: userId
      in: path
      schema:
        type: string
      required: true
    multipleUserId:
      name: userIds
      in: path
      schema:
        type: array
        items:
          type: string
      required: true
  securitySchemes:
    openId:
      type: openIdConnect
      scheme: bearer
      bearerFormat: JWT
      openIdConnectUrl: https://accounts.google.com/.well-known/openid-configuration
  responses:
    GameResponse:
      description: a game
      content:
        application/json:
          schema:
            $ref: "./game.yaml#/components/schemas/Game"
    UserResponse:
      description: a user
      content:
        application/json:
          schema:
            $ref: "./user.yaml#/components/schemas/User"
    GamesResponse:
      description: all games
      content:
        application/json:
          schema:
            type: object
            properties:
              games:
                type: array
                items:
                  type: string
    UsersResponse:
      description: users
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "./user.yaml#/components/schemas/User"
    SseConnectionsResponse:
      description: sse connnection response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/sseConnections"
    LoginResponse:
      description: login response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/loginResponse'
    LoadUserResponse:
      description: load user response
      content:
        application/json:
          schema:
            $ref: "./user.yaml#/components/schemas/User"
    CreateInvitesResponse:
      description: response for create invites
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createInviteResponse'
    InvitesResponse:
      description: incoming invites response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/invitesResponse'
security:
  - bearerAuth:
      - openid
      - profile
      - email
