openapi: "3.0.4"
info:
  title: Klavers Jassen
  description: Klavers Jassen
  version: "@git.commit.id.abbrev@"
servers:
  - url: 'https://api.klaversjassen.nl/api/v1'
    description: Klavers Jassen
  - url: 'https://api.klaversjassen.nl'
    description: Klavers Jassen Root

paths:
  /feedback:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
              required:
                - message
      responses:
        "200":
          description: ok
  /boom:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getBooms
      responses:
        "200":
          description: BoomsResponse
          $ref: "#/components/responses/BoomsResponse"
    post:
      operationId: createBoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBoom"
      responses:
        "200":
          description: Boomresponse
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Boom"
  /boom/{boomId}/play:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: playBoom
      parameters:
        - $ref: "#/components/parameters/boomId"
      responses:
        "200":
          description: a boom
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
  /boom/{boomId}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getBoom
      parameters:
        - $ref: "#/components/parameters/boomId"
      responses:
        "200":
          description: a boom
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Boom"
        '404':
          description: Todo item not found.
    delete:
      operationId: deleteBoom
      parameters:
        - $ref: "#/components/parameters/boomId"
      responses:
        "200":
          description: ok
  /debug/sseconnections/get:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      tags:
        - debug
      operationId: getDebugSseConnections
      responses:
        "200":
          $ref: "#/components/responses/SseConnectionsResponse"
  /debug/sseconnections/{sessionIdentifier}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    delete:
      tags:
        - debug
      parameters:
        - $ref: "#/components/parameters/sessionIdentifier"
      operationId: deleteSseSession
      responses:
        "200":
          description: ok
  /login:
    post:
      tags:
        - login
      operationId: login
      responses:
        "200":
          $ref: "#/components/responses/LoginResponse"
  /rotateJwt:
    post:
      operationId: rotateJwt
      responses:
        "200":
          $ref: "#/components/responses/LoginResponse"
  /loadUser:
    post:
      operationId: loadUser
      responses:
        "200":
          $ref: "#/components/responses/LoadUserResponse"
  /games/{gameId}/say:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: say
      parameters:
        - $ref: "#/components/parameters/gameId"
      requestBody:
        $ref: "#/components/requestBodies/sayRequest"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/claimRoem:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: claimRoem
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/claimVerzaken:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: claimVerzaken
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/openLastTrick:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: openLastTrick
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/closeLastTrick:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: closeLastTrick
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/playCard:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: playCard
      parameters:
        - $ref: "#/components/parameters/gameId"
      requestBody:
        $ref: "#/components/requestBodies/playCard"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games/{gameId}/kickAi:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: kickAi
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
        "422":
          description: some application error
        "404":
          description: not found
  /games:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getGames
      parameters:
        - name: boom
          in: query
          schema:
            type: boolean
        - name: finished
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          $ref: "#/components/responses/GamesResponse"
    post:
      operationId: createGame
      requestBody:
        description: A new game
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createGame"
      responses:
        "200":
          $ref: "#/components/responses/GameResponse"
        "404":
          description: not found
  /games/{gameId}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getGame
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          $ref: "#/components/responses/GameResponse"
        "404":
          description: not found
    delete:
      operationId: deleteGame
      parameters:
        - $ref: "#/components/parameters/gameId"
      responses:
        "200":
          description: ok
  /users/multiple/{userIds}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getUserByIds
      parameters:
        - $ref: "#/components/parameters/multipleUserId"
      responses:
        "200":
          $ref: "#/components/responses/UsersResponse"
  /ping:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: ping
      responses:
        "200":
          description: ok
  /pong:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: pong
      responses:
        "200":
          description: ok
  /users/updatePreferences:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: updatePreferences
      requestBody:
        $ref: "#/components/requestBodies/updatePreferences"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
  /users/single/{userId}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getUser
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "404":
          description: not found
  /users/invites:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    get:
      operationId: getInvites
      responses:
        "200":
          $ref: "#/components/responses/InvitesResponse"
    post:
      operationId: createInvite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createInvite"
      responses:
        "200":
          $ref: "#/components/responses/CreateInvitesResponse"
        "404":
          description: not found
  /users/invites/{userId}:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    delete:
      operationId: removeInvite
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: ok
        "404":
          description: not found
    post:
      operationId: acceptInvite
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: ok
        "404":
          description: not found
  /users/message:
    parameters:
      - $ref: "#/components/parameters/AppIdentifier"
    post:
      operationId: usersMessage
      requestBody:
        $ref: "#/components/requestBodies/postMessage"
      responses:
        "200":
          description: ok
#  /reloadCache:
#    parameters:
#      - $ref: "#/components/parameters/AppIdentifier"
#    post:
#      operationId: reloadCache
#      responses:
#        "200":
#          description: ok
#  /ai/createGame:
#    post:
#      tags:
#        - aiapi
#      operationId: aiCreateGame
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              type: object
#              properties:
#                gameVariant:
#                  $ref: '#/components/schemas/GameVariant'
#              required:
#                - gameVariant
#      responses:
#        "200":
#          description: Game Response
#          content:
#            application/json:
#              schema:
#                $ref: "#/components/schemas/Game"
#  /ai/playCard:
#    post:
#      tags:
#        - aiapi
#      operationId: aiPlayCard
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              type: object
#              properties:
#                gameId:
#                  type: string
#                playerId:
#                  type: string
#                card:
#                  $ref: '#/components/schemas/Card'
#              required:
#                - gameId
#                - playerId
#                - card
#      responses:
#        "200":
#          description: Boomresponse
#          content:
#            application/json:
#              schema:
#                $ref: "#/components/schemas/Game"
#  /ai/caldAiCard:
#    post:
#      tags:
#        - aiapi
#      operationId: calcAiCard
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              type: object
#              properties:
#                currentTrick:
#                  type: array
#                  items:
#                    $ref: "#/components/schemas/Card"
#                trumpSuit:
#                  $ref: "#/components/schemas/Suit"
#                hand:
#                  type: array
#                  items:
#                    $ref: "#/components/schemas/Card"
#                gameVariant:
#                  $ref: '#/components/schemas/GameVariant'
#              required:
#                - currentTrick
#                - trumpSuit
#                - hand
#                - gameVariant
#      responses:
#        "200":
#          description: Boomresponse
#          content:
#            application/json:
#              schema:
#                $ref: "#/components/schemas/Card"
components:
  requestBodies:
    sayRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/playerSay"
    playCard:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/playCard"
    #    pingPongRequestBody:
    #      required: true
    #      content:
    #        application/json:
    #          schema:
    #            type: object
    #            properties:
    #              appIdentifier:
    #                type: string
    #            required:
    #              - appIdentifier
    updatePreferences:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/updatePreferences"
    postMessage:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/postMessage"
  parameters:
    AppIdentifier:
      name: App-Identifier
      in: header
      schema:
        type: string
      required: true
    gameId:
      name: gameId
      in: path
      schema:
        type: string
      required: true
    sessionIdentifier:
      name: sessionIdentifier
      in: path
      schema:
        type: string
      required: true
    boomId:
      name: boomId
      in: path
      schema:
        type: string
      required: true
    userId:
      name: userId
      in: path
      schema:
        type: string
      required: true
    multipleUserId:
      name: userIds
      in: path
      schema:
        type: array
        items:
          type: string
      required: true
  securitySchemes:
    openId:
      type: openIdConnect
      scheme: bearer
      bearerFormat: JWT
      openIdConnectUrl: https://accounts.google.com/.well-known/openid-configuration
  responses:
    GameResponse:
      description: a game
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Game"
    UserResponse:
      description: a user
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/User"
    BoomsResponse:
      description: all booms
      content:
        application/json:
          schema:
            type: object
            properties:
              booms:
                type: array
                items:
                  type: string
    GamesResponse:
      description: all games
      content:
        application/json:
          schema:
            type: object
            properties:
              games:
                type: array
                items:
                  type: string
    UsersResponse:
      description: users
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/User"
    SseConnectionsResponse:
      description: sse connnection response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/sseConnections"
    LoginResponse:
      description: login response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/loginResponse'
    LoadUserResponse:
      description: load user response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/User"
    CreateInvitesResponse:
      description: response for create invites
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createInviteResponse'
    InvitesResponse:
      description: incoming invites response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/invitesResponse'

  schemas:
    Boom:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the test
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        creator:
          description: initial dealer
          type: string
        dealer:
          type: integer
          minimum: 0
          maximum: 3
        players:
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: string
        games:
          type: array
          maxItems: 32
          items:
            type: string
        gameVariant:
          $ref: '#/components/schemas/GameVariant'
        aiRisc:
          $ref: "#/components/schemas/AiRisc"
        isCompleted:
          type: boolean
      required:
        - id
        - created
        - updated
        - creator
        - dealer
        - players
        - games
        - gameVariant
        - aiRisc
        - isCompleted
    CreateBoom:
      type: object
      properties:
        players:
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: string
      required:
        - players
    UserMessage:
      type: object
      properties:
        userId:
          type: string
        message:
          type: string
        variant:
          enum:
            - error
            - warning
            - info
            - success
      required:
        - userId
        - message
        - variant
    sseConnections:
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/SseConnection'
        timeStamp:
          type: string
          format: date-time
      required:
        - connections
        - currentSubscriberCount
        - timeStamp
    loginResponse:
      type: object
      properties:
        jwt:
          type: string
          format: password
        user:
          $ref: '#/components/schemas/User'
      required:
        - jwt
        - user
    createInviteResponse:
      type: object
      properties:
        count:
          type: number
      required:
        - invitees
    invitesResponse:
      type: object
      properties:
        incoming:
          description: unaccepted incoming
          type: array
          items:
            type: string
        outgoing:
          description: unaccepted outgoing
          type: array
          items:
            type: string
        friends:
          description: accepted, friends
          type: array
          items:
            type: string
    playerSay:
      type: object
      properties:
        say:
          type: boolean
      required:
        - say
    playCard:
      type: object
      properties:
        card:
          $ref: "#/components/schemas/Card"
      required:
        - card
    createInvite:
      type: object
      properties:
        searchString:
          type: string
          minLength: 5
          maxLength: 255
      required:
        - searchString
    postMessage:
      type: object
      properties:
        recipients:
          type: array
          items:
            type: string
        message:
          type: string
      required:
        - recipients
        - message
    updatePreferences:
      type: object
      properties:
        displayName:
          type: string
        skipAnimation:
          type: boolean
        gameVariant:
          $ref: '#/components/schemas/GameVariant'
        screenOrientation:
          $ref: '#/components/schemas/ScreenOrientation'
        theme:
          $ref: '#/components/schemas/Theme'
        aiRisc:
          $ref: '#/components/schemas/AiRisc'
        autoKnock:
          type: boolean
      required:
        - displayName
        - skipAnimation
        - gameVariant
        - screenOrientation
        - theme
        - aiRisc
        - autoKnock
    createGame:
      type: object
      properties:
        players:
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: string
      required:
        - players
    HelloEvent:
      type: object
      properties:
        hostName:
          type: string
        appIdentifier:
          type: string
      required:
        - hostName
        - appIdentifier
    OnlineListEvent:
      type: object
      properties:
        onlineList:
          type: array
          items:
            type: string
            uniqueItems: true
      required:
        - onlineList
    SseConnection:
      type: object
      properties:
        id:
          type: string
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        creator:
          type: string
        pingReceived:
          type: string
          format: date-time
        pingReceivedCount:
          type: integer
        pongReceived:
          type: string
          format: date-time
        pongReceivedCount:
          type: integer
        remoteAddress:
          type: string
        userAgent:
          type: string
        host:
          type: string
      required:
        - id
        - created
        - creator
        - applicationIdentifier
        - pingReceivedCount
        - pongReceivedCount
        - remoteAddress
        - userAgent
        - host
    NewGameEvent:
      type: object
      properties:
        gameId:
          type: string
        displayNameCreator:
          type: string
      required:
        - gameId
        - displayNameCreator
    #    NewFriendEvent:
    #      type: object
    #      properties:
    #        newFriendId:
    #          type: string
    #      required:
    #        - newFriendId
    MessageEvent:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/UserMessage'
      required:
        - message
    GameVariant:
      enum:
        - amsterdams
        - rotterdams
        - haags
    ScreenOrientation:
      enum:
        - auto
        - portrait
        - landscape
    Theme:
      enum:
        - auto
        - light
        - dark
    AiRisc:
      enum:
        - verylow
        - low
        - medium
        - high
        - veryhigh
    Game:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the test
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        creator:
          type: string
        dealer:
          type: integer
          minimum: 0
          maximum: 3
        playerCard:
          type: array
          items:
            type: object
            properties:
              card:
                $ref: '#/components/schemas/Card'
              player:
                type: integer
                minimum: 0
                maximum: 3
            required:
              - card
              - player
        #        elder:
        #          type: integer
        #          minimum: 0
        #          maximum: 3
        says:
          type: object
          additionalProperties:
            type: boolean
        players:
          type: array
          minItems: 0
          maxItems: 4
          items:
            type: string
        turns:
          type: array
          items:
            $ref: "#/components/schemas/Card"
          minItems: 0
          maxItems: 32
        trump:
          $ref: '#/components/schemas/Suit'
        whosTurn:
          type: integer
        whoSay:
          type: integer
        lastTrickOpen:
          type: boolean
        variant:
          $ref: '#/components/schemas/GameVariant'
        dealCounter:
          type: integer
        numberOfTurns:
          type: integer
        isCompleted:
          type: boolean
        hasFullTrick:
          type: boolean
        tricksPlayed:
          type: integer
        iedereenPast:
          type: boolean
        niemandGezegd:
          type: boolean
        geenKaartGespeeld:
          type: boolean
        currentTrickWinnerCard:
          $ref: "#/components/schemas/Card"
        currentTrickCards:
          type: array
          items:
            $ref: "#/components/schemas/Card"
        trickPoints:
          type: array
          items:
            $ref: "#/components/schemas/NorthSouthNumber"
        allPoints:
          $ref: "#/components/schemas/NorthSouthNumber"
        totalPoints:
          $ref: "#/components/schemas/NorthSouthNumber"
        trickRoem:
          type: array
          items:
            $ref: "#/components/schemas/NorthSouthNumber"
        allRoem:
          $ref: "#/components/schemas/NorthSouthNumber"
        totalString:
          $ref: "#/components/schemas/NorthSouthString"
        winner:
          $ref: "#/components/schemas/Teams"
        erIsGegaan:
          type: boolean
        elder:
          type: integer
        elderTeam:
          $ref: "#/components/schemas/Teams"
        trickWinnerPlayer:
          type: array
          items:
            type: integer
        trickWinnerCard:
          type: array
          items:
            $ref: "#/components/schemas/Card"
        playerPoints:
          type: array
          items:
            type: integer
        heeftGepast:
          type: array
          items:
            type: integer
        roemGeklopt:
          type: array
          items:
            type: integer
            uniqueItems: true
        pit:
          type: boolean
        boomId:
          type: string
        verzaakt:
          type: array
          items:
            type: array
            items:
              type: integer
              uniqueItems: true
        tricksWonNorthSouth:
          type: integer
        tricksWonEastWest:
          type: integer
        aiRisc:
          $ref: "#/components/schemas/AiRisc"
      required:
        - id
        - trump
        - created
        - updated
        - creator
        - dealer
        - playerCard
        - ended
        - players
        - turns
        - trump
        - lastTrickOpen
        - variant
        - dealCounter
        - numberOfTurns
        - isCompleted
        - hasFullTrick
        - tricksPlayed
        - iedereenPast
        - niemandGezegd
        - geenKaartGespeeld
        - currentTrickCards
        - trickPoints
        - allPoints
        - trickRoem
        - allRoem
        - erIsGegaan
        - trickWinnerPlayer
        - trickWinnerCard
        - playerPoints
        - heeftGepast
        - roemGeklopt
        - verzaakt
        - aiRisc
        - totalString
    Suit:
      type: string
      enum:
        - Clubs
        - Diamonds
        - Hearts
        - Spades
    Teams:
      type: string
      enum:
        - NorthSouth
        - EastWest
    NorthSouthNumber:
      type: object
      properties:
        northSouth:
          type: integer
          default: 0
        eastWest:
          type: integer
          default: 0
      required:
        - northSouth
        - eastWest
    NorthSouthString:
      type: object
      properties:
        northSouth:
          type: string
        eastWest:
          type: string
      required:
        - northSouth
        - eastWest
    Card:
      type: string
      enum:
        - Ah
        - Kh
        - Qh
        - Jh
        - Th
        - Nh
        - Eh
        - Sh
        - Ac
        - Kc
        - Qc
        - Jc
        - Tc
        - Nc
        - Ec
        - Sc
        - Ad
        - Kd
        - Qd
        - Jd
        - Td
        - Nd
        - Ed
        - Sd
        - As
        - Ks
        - Qs
        - Js
        - Ts
        - Ns
        - Es
        - Ss
    User:
      type: object
      properties:
        id:
          type: string
        updated:
          type: string
          format: date-time
        displayName:
          type: string
        photoURL:
          type: string
        skipAnimation:
          type: boolean
        gameVariant:
          $ref: "#/components/schemas/GameVariant"
        screenOrientation:
          $ref: "#/components/schemas/ScreenOrientation"
        theme:
          $ref: "#/components/schemas/Theme"
        aiRisc:
          $ref: '#/components/schemas/AiRisc'
        autoKnock:
          type: boolean
      required:
        - id
        - updated
        - displayName
        - photoURL
        - online
        - skipAnimation
        - gameVariant
        - screenOrientation
        - theme
        - aiRisc
        - autoKnock
security:
  - bearerAuth:
      - openid
      - profile
      - email
